{% extends 'trazabilidad/base.html' %}
{% block head %}
    <title>Editar Lote</title>
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lotes.css">
    <script type="text/javascript">
        $(function() {
            $('#grupo-alza tbody tr').formset({
                   prefix: '{{ grupoAlza_form.prefix }}',
                   addCssClass:'btn btn-success btn-xs',
                   deleteCssClass: 'btn btn-danger btn-xs',
                   addText: 'Agregar Grupo de Alza',
                   deleteText: 'Eliminar',
               });
        })
    </script>
{% endblock %}

{% block body %}
    <div class ="row">
        <div class="row center">
            <div class="col-sm-12">
                <h1> Editar Lote </h1>
            </div>
        </div>
        <form class="form-horizontal" action="." method="post">
            <div class="col-md-10">
                <legend>Lote</legend>
                {% csrf_token %}
                {% for f in form %}
                    {% if f.errors %}
                        <div class="form-group alert alert-danger">
                            <label class="col-md-2 control-label" for="input{{f.label}}">{{f.label}}</label>
                            <div class="col-md-10">
                                {{f}}
                                <span class="help-inline">
                                    {% for error in  f.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="input{{f.label}}">{{f.label}}</label>
                            <div class="col-md-10">
                                {{f}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {{ form.management_form }}
                {{ form.non_form_errors }}
            </div>
            <div class="col-md-10 top-margin">
                <legend>Grupos de Alzas</legend>
                <table id="grupo-alza" class="table table-condensed table-striped table-hover">
                   <thead>
                        <tr>
                            <th>Tipo de Alza</th>
                            <th>Peso</th>
                            <th>Cantidad de Alzas</th>
                            <th></th>
                        </tr>
                    </thead>
                   <tbody>
                       {% for form in grupoAlza_form.forms %}               
                       <tr>
                          <td>{{ form.tipoAlza.errors }}{{ form.tipoAlza }} {{form.idGrupoAlza}} {{form.DELETE}}</td>
                          <td>{{ form.peso.errors }}{{ form.peso }}</td>
                          <td>{{ form.cantidadAlzas.errors }}{{ form.cantidadAlzas }}</td>
                          <td></td>
                       </tr>
                       {% endfor %}
                   </tbody>
                </table>
                {{ grupoAlza_form.management_form }}
                {{ grupoAlza_form.non_form_errors }}
                <hr>
                <input type="submit" value="Guardar" class="submit btn btn-primary" />
            </div>
        </form>
    </div>
{% endblock %}