{% extends 'trazabilidad/base.html' %}

{% block head %}
    <title>Editar Socio</title>
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
    <script type="text/javascript" src="/static/js/socios.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#grupo-alza tbody tr').formset({
                   prefix: '{{ grupoAlza_form.prefix }}',
                   formCssClass: 'dynamic-grupoAlza_form',
                   addText: 'Agregar Grupo de Alza',
                   deleteText: 'Eliminar',
                   addCssClass:'btn btn-success btn-xs',
                   deleteCssClass: 'btn btn-danger btn-xs',
               });
        })
    </script>
{% endblock %}

{% block body %}
    <div class ="row">
        <div class="row center">
            <div class="col-sm-12">
                <h1> Editar Socio </h1>
            </div>
        </div>
        <form class="form-horizontal" action="." method="post">
            <div class="col-md-10">
                <legend>Lote</legend>
                {% csrf_token %}
                {% for f in form %}
                    {% if f.errors %}
                        <div class="form-group alert alert-danger">
                            <label class="col-md-2 control-label" for="input{{f.label}}">{{f.label}}</label>
                            <div class="col-md-10">
                                {{f}}
                                <span class="help-inline">
                                    {% for error in  f.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                    {% if  f.label == "Número de Documento" or f.label == "Tipo de Documento" or f.label == "CUIL / CUIT" %}
                        {% if  f.label == "Tipo de Documento" %}
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="input{{f.label}}">{{f.label}}</label>
                                <div class="col-md-10">
                                    {{f.as_hidden}}
                                    {% if f.value == 1 %}
                                        DNI
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="input{{f.label}}">{{f.label}}</label>
                                <div class="col-md-10">
                                    {{f.as_hidden}}{{f.value}}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                       <div class="form-group">
                            <label class="col-md-2 control-label" for="input{{f.label}}">{{f.label}}</label>
                            <div class="col-md-10">
                                {{f}}
                            </div>
                        </div> 
                    {% endif %}
                        
                    {% endif %}
                {% endfor %}
                {{ form.management_form }}
                {{ form.non_form_errors }}
            </div>
            <div class="col-md-10 top-margin">

                <hr>
                <input type="submit" value="Guardar" class="submit btn btn-primary" />
            </div>
        </form>
    </div>
{% endblock %}