{% extends "trazabilidad/base.html" %}

{% block body %}
   	<form class="form-horizontal" role="form" action="" method="POST" >
            {% csrf_token %}
            {% for f in form %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input{{f.label}}">{{f.label}}</label>
                <div class="col-md-10">
                    {{f}}
                </div>
            </div>          
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-info" type="submit" name="submit" value="Guardar"/>
                </div>    
            </div>
        </form>
{% endblock %}