{% extends "trazabilidad/modal.html" %}
{% block modaltitle %}
Fraccionar el tambor número <strong>{{ tambor.idTambor }}</strong> del lote número <strong>{{ tambor.loteExtraido.lote.idLote }}</strong> del socio <strong>{{ tambor.loteExtraido.lote.apiario.socio }}</strong>
{% endblock %}
{% block modalbody %}
    {% load eztables %}

    <!-- STYLES -->

    {% datatables_bootstrap_css %}
    
    <!-- JAVASCRIPTS -->

    {% datatables_js %}
    {% datatables_bootstrap_js %}
    {% load bootstrap %}
<script>
$(function(){
 $(document).ready(function(){
        $('#btn-fraccionar').click(function(event) {
            var tipoEnvase = $('#id_tipoEnvase')[0].selectedIndex;
            var marca = $('#id_marca')[0].selectedIndex;
            if (tipoEnvase == 0) {
              alert("Debe seleccionar un Tipo de Envase");
              return false;
            };
            if (marca == 0) {
              alert("Debe seleccionar una Marca");
              return false;
            };
            var posting = $.post( "/tambores/fraccionar/{{ tambor.idTambor }}/", $("#form-fraccionar").serialize() );

            posting.done(function( data ) {
              alert(data);
            }); 
        });
  }); 
});
</script>


<form id="form-fraccionar" method="post" action="/tambores/fraccionar/{{ tambor.idTambor }}/">
  {% csrf_token %}
  {{ form.management_form }}
  {{ form.non_form_errors }}

  <div class="row top-margin">        
        {{form|bootstrap}}
  </div>

</form>
{% endblock %}

{% block modalfooter %}
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  <input id="btn-fraccionar" type="button" value="Guardar" class="submit btn btn-primary"/>
{% endblock %}