{% extends "trazabilidad/base.html" %}
{% block head %}
	<title>Inicio</title>

    <!-- STYLES -->
    
    <!-- JAVASCRIPTS -->
    
    <!-- <script src="http://releases.flowplayer.org/js/flowplayer-3.2.12.min.js"></script> -->
    
    <script>
    
    $(function () {
		
		$(document).ready(function(){
			
		});
		
  	});
    
    </script>

{% endblock %}
  
{% block body %}

    <div class="jumbotron center">
        <h1>Apavirch</h1>
        <h2>Asociacion de Apicultores Apicolas del Valle Inferior del Rio Chubut</h2>
        <img class="img-circle" src="/static/img/apavirch.jpg">
    </div>
    
{% endblock %}
