{% extends "trazabilidad/base.html" %}

{% block head %}
	<title>Gestión de Lotes</title>

    {% load eztables %}

    <!-- STYLES -->

    {% datatables_bootstrap_css %}
    
    <!-- JAVASCRIPTS -->

    {% datatables_js %}
    {% datatables_bootstrap_js %}
    <script type="text/javascript" src="/static/js/lotes.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/lotes.css">

{% endblock %}
  
{% block body %}
    <div class="row center">
        <div class="col-sm-12">
            <h1 style="margin:0px 0px 0px 0px;"> Gestión de Lotes </h1>
        </div>
    </div>
    <div class ="row">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-warning" onclick="ingresarLote()">Ingresar Lote</button>
            <!--<button type="button" class="btn btn-sm btn-warning">Listar Lotes</button>
            <button type="button" class="btn btn-sm btn-warning">Accion 3</button>-->
        </div>
    </div>
    <div class="row top-margin">
        <table  id="tabla-lotes" class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Lote</th>
                    <th>Apiario</th>
                    <th>Socio</th>
                    <th>Fecha de Alta</th>
                    <th>Peso</th>
                    <th>Observación</th>
                    <th class="text-center">Estado Actual</th>
                    <th class="text-center">Cambiar de Estado</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for lote in lotes %}
            <tr id="tr-{{lote.idLote}}">
                <td name="idLote">{{lote.idLote}}</td>
                <td>{{ lote.apiario }}</td>
                <td>{{ lote.apiario.socio }}</td>
                <td>{{lote.fecha}}</td>
                <td>{{ lote.peso }}</td>
                <td>{{ lote.observacion }}</td>
                <td class="center">
                    {% if lote.estadoActual|stringformat:"s" == "Ingresado" %}
                        <p class="etiqueta"><span id="lb-estado-{{lote.idLote}}" class="label label-success">{{ lote.estadoActual }}</span></p>
                    {% endif %}
                    {% if lote.estadoActual|stringformat:"s" == "Devuelto" %}
                        <p class="etiqueta"><span id="lb-estado-{{lote.idLote}}" class="label label-primary">{{ lote.estadoActual }}</span></p>
                    {% endif %}
                    {% if lote.estadoActual|stringformat:"s" == "Extraido" %}
                        <p class="etiqueta" ><span id="lb-estado-{{lote.idLote}}" class="label label-warning">{{ lote.estadoActual }}</span></p>
                    {% endif %}
                </td>
                <td class="center">
                    {% if lote.estadoActual|stringformat:"s" == "Ingresado" %}
                        <button type="button" id="{{lote.idLote}}" class="btn btn-warning btn-xs btn-estado">Extraer</button>
                    {% endif %}
                    {% if lote.estadoActual|stringformat:"s" == "Extraido" %}
                        <button type="button" id="{{lote.idLote}}" class="btn btn-primary btn-xs btn-estado">Devolver</button>
                    {% endif %}
                </td>
                <td class="center">
                    {% if lote.estadoActual|stringformat:"s" == "Ingresado" %}
                        <button id="btn-lote-{{lote.idLote}}" type="button" class="hidden btn btn-xs btn-lima btn-accion btn-extraccion" data-toggle="modal" data-target="#modal-extraer" data-toggle="tooltip" data-placement="top" data-original-title="Ver el lote extraido">Ver lote</button>
                        <button type="button" class="btn btn-muyoscuro btn-xs btn-accion" data-toggle="tooltip" data-placement="top" data-original-title="Editar el Lote" onclick="editarLote({{lote.idLote}})">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs btn-accion" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar el lote" onclick="eliminarLote({{lote.idLote}})">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    {% else %}
                        <button id="btn-lote-{{lote.idLote}}" type="button" class="btn btn-xs btn-lima btn-accion btn-extraccion" data-toggle="modal" data-target="#modal-extraer" data-toggle="tooltip" data-placement="top" data-original-title="Ver el lote extraido">Ver lote</button>
                        <button type="button" class="hidden btn btn-muyoscuro btn-xs btn-accion" data-toggle="tooltip" data-placement="top" data-original-title="Editar el lote" onclick="editarLote({{lote.idLote}})">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="hidden btn btn-danger btn-xs btn-accion" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar el lote" onclick="eliminarLote({{lote.idLote}})">
                        <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-extraer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

{% endblock %}