{% extends "trazabilidad/modal.html" %}
{% block modaltitle %}
Tambores del lote número <strong>{{ lote.idLote }}</strong> del socio <strong>{{lote.apiario.socio.nombreYApellido}}</strong>
{% endblock %}
{% block modalbody %}
    <script type="text/javascript">
        function gstTambor (id) {
            //$.get( "/tambores/", { id: id});
            open("/tambores/?id="+id,"_self");
            // $.ajax({
            //       url: '/tambores/',
            //       type: 'GET',
            //       data:   {id: id,},
            //   })
            //   .done(function(msj) {
            //       //alert(msj);
            //       //open("/lotes/","_self"); 
            //   })
            //   .fail(function(msj) {
            //       //alert(msj);
            //   })
        }
        function dextraccionprevLote() {
          $('#form-peso').removeClass("hidden");
          $('#dextraccionprev').addClass("hidden");
          $('#dextraccion').removeClass('hidden');
        }
        function dextraccionLote (id, pl) {
          var peso = parseFloat($('#form-peso').find("input[name=peso]").val(), 10).toFixed(2);
          var observacion = $('#form-peso').find("input[name=observacion]").val();
          //var pesolote = parseFloat(pesolote, 10).toFixed(2);
          if ((peso > 0) && (peso < pl)) {
              $.ajax({
                  url: '/lotes/dextraer-lote/',
                  type: 'GET',
                  data:   {id: id,
                          peso: peso,
                          observacion: observacion},
                  //context : btn,
              })
              .done(function(msj) {
                  alert(msj);
                  open("/lotes/","_self"); 
              })
              .fail(function(msj) {
                  alert(msj);
              })  
              //alert("Funco")
          }
          else{
              alert("El peso extraido debe ser mayor que cero y menor que el peso del lote");
          };
        }
        
    </script>

    <div class="row top-margin">
        <table  id="tabla-tambores" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>idTambor</th>
                    <th>peso</th>
                    <th>Fraccionado</th>
                    <th>Operario</th>
                </tr>
            </thead>
            <tbody>
              {% for tambor in tambores %}
    			      <tr>
                      <td name="id">{{ tambor.idTambor }}</td>
                      <td>{{ tambor.peso }}</td>
                      <td>
                            {% if tambor.fraccionado == False %}
                                No
                            {% else %}
                                Si
                            {% endif %}
                      </td>	
                      <td>{{tambor.operario}}</td>                
                </tr>
              {% endfor %}
            </tbody> 
        </table>
        <form id="form-peso" action="" method="POST" role="form" class="hidden">
          <legend></legend>
          <div class="form-group">
            <label for="">Peso</label>
            <input type="text" class="form-control" id="peso" name="peso" placeholder="Ingrese el nuevo peso">
          </div>
          <div class="form-group">
            <label for="">Observacion</label>
            <input type="text" class="form-control" id="peso" name="peso" placeholder="Ingrese una observacion">
          </div>

          {# <button type="submit" class="btn btn-primary">Guardar</button> #}
        </form>
{% endblock %}
{% block modalfooter %}
    <button type="button" id="dextraccion" class="hidden btn btn-warning" onclick="dextraccionLote({{lote.idLote}},{{lote.peso}})">Guardar</button>
    <button type="button" id="dextraccionprev" class="btn btn-warning" onclick="dextraccionprevLote()">Editar extracción</button>
    <button type="button" class="btn btn-lima" onclick="gstTambor({{lote.idLote}})">Mas detalle</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
{% endblock %}