{% extends "trazabilidad/base.html" %}

{% block head %}
	<title>Gestión de Tambores</title>

    {% load eztables %}

    <!-- STYLES -->

    {% datatables_bootstrap_css %}
    
    <!-- JAVASCRIPTS -->

    {% datatables_js %}
    {% datatables_bootstrap_js %}
    <script type="text/javascript">
        $(function () {
            $(document).ready(function(){
                {% if buscar %}
                    var busqueda = "{{busqueda}}";
                    $('#tabla-lotes').dataTable({
                        "oLanguage": {
                            "sUrl": "/static/js/libs/datatables/language.es.json",
                        },
                        "oSearch": {"sSearch": busqueda},
                    });
                {% else %}
                    $('#tabla-lotes').dataTable({
                        "oLanguage": {
                            "sUrl": "/static/js/libs/datatables/language.es.json",
                        },
                    });
                {% endif %}
                {% if msj %}
                    var msj = "{{msj}}";
                    alert(msj);
                {% endif %}
            });
        });
    </script>
    <script type="text/javascript" src="/static/js/tambores.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/tambores.css">

{% endblock %}
  
{% block body %}
    <div class="row center">
        <div class="col-sm-12">
            <h1 style="margin:0px 0px 0px 0px;"> Gestión de Tambores </h1>
        </div>
    </div>
    <div class ="row">
        <div class="btn-group">
            <button type="button" class="hidden btn btn-sm btn-warning" onclick="ingresarLote()">Ingresar Lote</button>
        </div>
    </div>
    <div class="row top-margin">
        <table  id="tabla-lotes" class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Tambor</th>
                    <th>Lote Extraido</th>
                    <th>Peso</th>
                    <th>Fecha de Extracción</th>
                    <th>Operario</th>
                    <th class="text-center">Estado Actual</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for tambor in tambores %}
            <tr id="tr-{{tambor.idTambor}}">
                <td name="idTambor">{{tambor.idTambor}}</td>
                <td>Lote {{ tambor.loteExtraido.lote.pk }}</td>
                <td>{{ tambor.peso }}</td>
                <td>{{tambor.loteExtraido.fecha}}</td>
                <td>{{ tambor.operario }}</td>
                <td class="center">
                    {% if tambor.fraccionado %}
                        <p class="etiqueta"><span id="lb-estado-{{tambor.idTambor}}" class="label label-success">Fraccionado</span></p>
                    {% else%}
                        <p class="etiqueta"><span id="lb-estado-{{tambor.idTambor}}" class="label label-primary">No Fraccionado</span></p>
                    {% endif %}
                </td>
                <td class="center">
                    {% if not tambor.fraccionado %}
                        <a id="btn_editar_{{ tambor.idTambor }}" href="/tambores/fraccionar/{{tambor.idTambor}}/" class="btn btn-success btn-xs" 
                            data-toggle="modal" data-target="#modal-fraccionar">Fraccionar</a>
                    {% else %}
                        <button id="btn-lote-{{lote.idLote}}" type="button" class="btn btn-xs btn-warning btn-accion btn-fraccionamiento" data-toggle="modal" data-target="#modal-fraccionamiento" data-toggle="tooltip" data-placement="top" data-original-title="Ver el fraccionamiento">Fraccionamiento</button>&nbsp;&nbsp;                    
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-fraccionar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div class="modal fade" id="modal-fraccionamiento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

{% endblock %}