.btn-custom {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0; // For input.btn
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @grayDark;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
  vertical-align: middle;
  .buttonBackground(@white, darken(@white, 10%));
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  .border-radius(4px);
  @shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
  cursor: pointer;

  // Give IE7 some love
  .reset-filter();
  .ie7-restore-left-whitespace();
  background-color: hsl(0, 100%, 32%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3232", endColorstr="#a30000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff3232), to(#a30000));
  background-image: -moz-linear-gradient(top, #ff3232, #a30000);
  background-image: -ms-linear-gradient(top, #ff3232, #a30000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3232), color-stop(100%, #a30000));
  background-image: -webkit-linear-gradient(top, #ff3232, #a30000);
  background-image: -o-linear-gradient(top, #ff3232, #a30000);
  background-image: linear-gradient(#ff3232, #a30000);
  border-color: #a30000 #a30000 hsl(0, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
}


.btn-custom:hover {
  color: @grayDark;
  text-decoration: none;
  background-color: darken(@white, 10%);
  background-position: 0 -15px;

  // transition is only when going to hover, otherwise the background
  // behind the gradient (there for IE<=9 fallback) gets mismatched
  .transition(background-position .1s linear);
}


.btn-custom:focus {
  .tab-focus();
}

.btn-custom.active,
.btn-custom:active {
  background-image: none;
  @shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
  background-color: darken(@white, 10%);
  background-color: darken(@white, 15%) e("\9");
  outline: 0;
}


.btn-custom.disabled,
.btn-custom[disabled] {
  cursor: default;
  background-image: none;
  background-color: darken(@white, 10%);
  .opacity(65);
  .box-shadow(none);
}